
body {
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    background: linear-gradient(to bottom, #111951 0%, #421F6F 30%, #612384 100%) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-top: 40px;
}

#current-temp {
    margin-top: 75px;
    font-size: 70px;
    font-weight: bold;
}

#current-summary {
    margin-bottom: 40px;
}

#current-weather {
    font-size: 24px;
}

#location {
    font-size: 24px;
    font-weight: bold;
}

#weather-input {
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border-width: 0px;
}

.card {
    opacity: 0.75;
    margin-bottom: 20px;
}

.header-container, .current-container {
    color: white;
}

.hi {
    border-right: 1px solid black;
}

.icon-container {
    margin: 15px auto;
}

.input-group {
    margin-top: 40px;
}

.input-group-text {
    background-color: white;
    border: 0px;
    border-bottom-right-radius: 25px;
    border-top-right-radius: 25px;
}

.weather-input {
    outline: none;
}